body {
    font-family: 'JetBrains Mono', monospace;
    background-color: #000000;
    color: black;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}

html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: scroll;
}

.navbar {
    font-family: "Roboto", sans-serif;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px 0;
    background-color: black;
    margin-bottom: 10px;
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 1000;
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.navbar::-webkit-scrollbar {
    display: none;
}

.navbar a {
    font-size: 20px;
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    transition: color 0.3s ease;
}

.navbar a:hover {
    color: darkcyan;
}

.container {
    text-align: center;
    background-color: black;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    width: 100%;
    margin-top: 0;
    justify-content: center;
}

.container p {
    line-height: 1.5;
    color: white;
}

h1,h3 {
    color: white;
    margin-bottom: 10px;
}

.container a{
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}
.container a:hover {
    color: darkcyan;
}

@keyframes fadeInDown {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .animate-fade-in-down {
    animation: fadeInDown 1.25s ease-out forwards;
  }