body {
    font-family: 'JetBrains Mono', monospace;
    background-color: black;
    margin: 0;
    padding: 0;
    height: auto;
    min-height: 100vh;
    overflow-y: auto;
}

html, body {
    overflow-x: hidden;
}


.navbar {
    font-family: "Roboto", sans-serif;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px 0;
    background-color: black;
    margin-bottom: 10px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.navbar::-webkit-scrollbar {
    display: none;
}

.navbar a {
    font-size: 20px;
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    transition: color 0.3s ease;
}

.navbar a:hover {
    color: darkcyan;
}

.container-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 100px;
    padding: 0 10px;
    width: 100%;
}

.container {
    background-color: black;
    padding: 20px;
    /*border: 2px solid white;*/
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    width: 100%;
    margin: 10px 0;
}

.container img {
    align-self: flex-end;
}

.container p {
    color: white;
    text-align: left;
    line-height: 1.5;
}

.container h1 {
    color: white;
    text-align: left;
}

.container a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    transition: color 0.3s ease;
    flex-direction: column;
}

.container a:hover {
    color: darkcyan;
}

#goBack{
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
    align-items: center;
    text-align: left;
    display: flex;
    width: 100%;
    max-width: 600px;
}

#goBack:hover{
    color: darkcyan;
}

@media (max-width: 768px) {
    .container-wrapper {
        flex-direction: column;
        padding: 0;
        margin-top: 100px;
    }
    
    .container {
        width: 95%;
        padding-left: 5px; 
        padding-right: 5px;
    }
}

@keyframes fadeInDown {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .animate-fade-in-down {
    animation: fadeInDown 1.25s ease-out forwards;
  }