body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #000000;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    border: 1.5px solid black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
    border: 6px solid #000000;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    color: #000000;
    margin-bottom: 10px;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.social-icons img {
    max-width: 30px;
    max-height: 30px;
    margin: 0;
    padding: 0;
    display: block;
    transition: filter 0.3s ease;
}
.social-icons img:hover {
    filter: brightness(0) saturate(100%) invert(30%) sepia(80%) saturate(500%) hue-rotate(90deg) brightness(70%) contrast(100%);
}

.download-cv {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: white;
    color: #000000;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s ease;
}
.download-cv:hover{
    color: rgba(1,83,48,255);
} 
.about p {
    font-family: 'Times New Roman', Times, serif;
    color: black;
    line-height: 1.6;
    text-align: center;
}