body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #000000;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
    border: 6px solid #000000;
}

h1 {
    color: #000000;
    margin-bottom: 10px;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.social-icons img {
    width: 30px;
    height: 30px;
    margin: 0;
    padding: 0;
    display: block;
}

.download-cv {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: white;
    color: #000000;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
}
.about p {
    color: black;
    line-height: 1.6;
    text-align: center;
}